<!DOCTYPE html>
 <html>
     <head>
         <title>About</title>
         <link rel="icon" href="/img/weather.png">
         <link rel="stylesheet" href="/css/styles.css">
     </head>
     <body>
         <div class="main-container">

         {{>header}}
         <img src="/img/me.jpg" >
         </div>
         {{>footer}}
     </body>
 </html>