body {
    color: #333333;
    font-family: arial;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}

header a{
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}
h1{
    font-size: 64px;
    margin-bottom: 16px; 
}
footer {
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
}

img {
    width: 200px;
    height: 200px;
    object-fit: cover;
} 

.main-container {
    flex-grow: 1;
}

input {
    border: 1px solid #cccccc;
    padding: 8px;
}

button {
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    padding: 8px;
}